/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    body {
        background-color: rgb(255, 46, 46);
    }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        background-color: rgb(44, 44, 32);
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    body {
        background-color: green;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    body {
        background-color: rgb(238, 39, 162);
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 2000px) {
    body {
        background-color: rgb(200, 241, 85);
    }
    .content {
        padding-top: 27vh;
    }
    .buttons {
        padding-top: 40vh;
    }
}

@media (min-width: 3000px) {
    body {
        background-color: black;
    }
    .content {
        padding-top: 30vh;
    }
    .buttons {
        padding-top: 45vh;
    }
}